*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
}

/* hover effects*/
.top-right-1:hover {
    text-decoration: underline rgb(28,114,156) ; 

}
.list-2 :hover {
    text-decoration: underline rgb(28,114,156) ;  
}

.list-3:hover {
    text-decoration: underline rgb(28,114,156) ;  
}

.list-4:hover {
    text-decoration: underline rgb(28,114,156) ;  
}
.list-5:hover { 
    text-decoration: underline rgb(28,114,156) ;  
}

.list-6:hover {
    text-decoration: underline rgb(28,114,156) ;  
}

.list-7:hover {
    text-decoration: underline rgb(28,114,156) ;  
}
.list-8:hover {
    text-decoration: underline ;  
}
.fa-magnifying-glass:hover {
    color:rgb(28,114,156);
   }
.fa-cart-shopping:hover {
    color:rgb(28,114,156);
  
}

.top-right:hover{
    text-decoration: 2px underline   rgb(28,114,156) ; 
    
}

.contact-container-2:hover {
    background-color:white ;
    transition: 1s;
    
}
.cursor-remove:hover{
    text-decoration: blue;
}
.bottom-cursor:hover{
    text-decoration: underline;
}    
         

.fa-facebook-f:hover {
       text-decoration-color: #ffff;
}
 /*end bar hover effect*/
.hover-effect-1:hover{
    text-decoration: 2px underline ;
}
.hover-effect-2:hover{
    text-decoration: 2px underline ;
}
.hover-effect-3:hover{
    text-decoration: 2px underline ;
}
.hover-effect-4:hover{
    text-decoration: 2px underline ;
    
}
.hover-effect-5:hover a{
    color:rgb(88,35,140) ;
    transition: 1s;

}
.hover-effect-6:hover a{
    color:rgb(88,35,140) ;
    transition: 1s;

}
.hover-effect-7:hover a{
    color:rgb(88,35,140) ;
    transition: 1s;
}
.hover-effect-8:hover a {
color:rgb(88,35,140) ;
transition: 1s;
}

.main {
    border: 1px soloid;
    background-color:#ffff ;
    display: flex;
     position: relative;
       
 } 
 .main a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
 .Footer-container{
    display: flex;
    justify-content: space-around;
    border: 1px solid purple;
    height: 80px;
    margin-top: 60px;
    background-color: rgb(88,35,140);
 }
 .bottom-left{
  margin-left: -1140px;
  margin-top: -12px;
  

 }
 .bottom-list{
     position: absolute;
     padding-left: 880px;
     display: flex;
    list-style: none; 
    padding-top: 27px;  
    gap: 30px;
    color: white;
    font-size: 20px;

 }
 .bottom-list a{
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
}
 .fa-envelope{
    padding-right: 10px;
 }
 .end-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
 }
 .end-bar-left{
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
 }
 .end-bar-left a{
    text-decoration: none;
    color: black;
    cursor: pointer;
 }
     

 .end-bar-right{
    display: flex;
    gap: 18px;
    margin-right: 14px;
    font-weight: lighter;
 }
 .end-bar-right li{
    text-decoration-line: underline;
   list-style: none;

 }
 .end-bar-right a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.COPY-1{
  text-align: center;
  margin-top: 120px;
 
}
.fa-chevron-right{
    padding-left: 7px;
}
.COPY-1 p{
    font-size:12px;
    font-weight: lighter;
}
 .logo{
    margin-right: 80px;
    font-size: 40px;
    margin-left: 15px;
 }
 
.fa-angle-down{
    padding-left: 5px;
    
}
 .fa-globe a {
        text-decoration: none;
        color: none;
        cursor: pointer;
    }
 
 .top-right{
 position: absolute;
 padding-left: 1235px;
 display: flex;
 margin-top: 3px;
 gap: 7px;
 justify-content: right;
 }
 
 .contact-container {
    display: flex;
    margin-left: 220px;
    gap: 10px;
 }
 .fa-globe{
    padding-left: 7px;
    padding-right: 5px;    
 }

.main-container ul{
 display: flex;
 align-items: center;
 margin-bottom: 30px;
 margin-top: 15px;
 font-size: 20px; 
 
}

.contact-container-2 {
 border: 1px solid lightgrey;
 height: 88px;
 width: 95%;
 background-color:rgb(241,241,241);
 align-items: center;
 text-align: center;
 padding-top: 30px;
 color:rgb(88,35,140) ;
 font-size: 25px;
 margin-left: 25px;
 font-weight: bold;


}
.cursor-remove{
    padding-left: 7px;
    text-decoration-line: none;
      
}
.btn a{
    text-decoration: none;
}
.contact-container-2  {
    text-decoration: none;
    cursor: pointer;
}
.contact-container-2:hover{
    color:  rgb(28,114,156);

}

.first-cursor{
    list-style: none;
    text-decoration: none;
}
.text-1{
    padding-left: 10px;
    font-weight: bold;
    text-decoration: none;
}
.text-1 a{
    text-decoration: none;
    color: blueviolet;
}
 .footer-container{
    background-color:rgb(88,35,140) ;
 }

.main-container ul li{
    list-style: none;
   padding: 0 20 10px;
   }
   .sub-main{
    display: flex;
    padding-left: 50px;
    gap: 15px;
   }       
   
.nav-right{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
}
.nav-right li{
    list-style: none;
}
h1{ 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(88,35,140,1) 9%, rgba(30,112,155,1) 100%);
    height: 330px;
    display: flex;
    align-items: center;
    color: #ffff;
    font-size: 50px;
    margin-bottom: 60px;
    margin-left:10px;
    padding-left: 25px;
 
}

.bottom-container{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-left: 30px;
    margin-bottom: 40px;
}   
.bottom-container div li{
    margin-bottom: 15px;
    font-size: 25px;
}  

.list-items{
    padding-top: 20px;
    margin-top: 30px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(88,35,140);
    font-weight: bold;    
    
}
.list-items:hover {
color:  rgb(28,114,156);
    

}

.img-1{
    margin-bottom: 20px;
}
p  {
    margin-bottom: 60px;
    font-size: 20px;
    margin-left: 25px;
}
.sub-container-1{
    list-style: none;

}
.sub-container-1 a {
    text-decoration: none;
    color: black;
}









/*
.sub-mainu{
    color: black;
}
    p{
        margin-bottom: 60px;
        font-size: 20px;

}
h2{
    border: 1px solid lightslategray;
    background-color:rgb(241,241,241);
    height: 100px;
    color:rgb(88,35,140);
    display: flex;
    text-align: center;
    align-items: center;
    margin: 20px;
    padding-left: 250px;
    font-size: 30px;
    font-weight: bolder;
}
.fa-comment{
  padding-right: 13px;

}
.logo-2{
    color: #ffff;
    margin-top: 25px;
    margin-left: 30px;
}
.sub-footer{
    display: flex;
   justify-content: space-between;
   background-color: rgb(88,35,140);
   color: #ffff;
   font-size: 15px;
   height: 90px;
   width: auto;
}
.social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.social-media li{
    list-style: none;
    padding: 15px;
}
.last-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last-footer li{
    list-style: none;
}

.copy-right{
    text-align: center;
    margin-top: 20px;
}
.fa-envelope{
    padding-right: 12px;
    font-size: 30px;
   
}
.sub-section{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.sub-section li{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.sub-section-1{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.sub-section-1 li{
    padding: 6px;
    font-size: 12px;
       
}

.sub1-li{
    border-bottom: 1px solid black;
}
.sub2-li{
    border-bottom: 1px solid black;
}
.sub3-li{
    border-bottom: 1px solid black;
}*/








